.header-contact {
  background-color: $dark-blue;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .header-contact-item {
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    width: 100%;
    gap: 10px;

    @media (max-width: 768px) {
      gap: 10px;
      flex-direction: row;
      justify-content: center;
      padding: 0;
    }

    li {
      color: $secondary;
      font-size: 16px;
      font-weight: 700;
      display: flex;
      align-items: center;
      white-space: nowrap;

      &:nth-child(1) {
        margin-right: 40px;
      }

      .header-contact-title {
        color: $secondary;
        font-size: 16px;
        font-weight: 700;
        margin-right: 0.5rem;

        .desktop-label {
          display: inline;
        }
        .mobile-label {
          display: none;
        }

        @media (max-width: 500px) {
          .desktop-label {
            display: none;
          }
          .mobile-label {
            display: inline;
          }
        }
      }
    }
  }
}
