.footer-wrapper {
  background-color: $color-primary;
  color: $color-secondary;
  width: 100%;
  padding: 20px 0;

  .footer {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;

    .footer-container {
      width: 100%;
      padding: 0;
      margin-bottom: 40px;
      border-bottom: 1px solid #ccc;

      .footer-title {
        font-size: $font-size-h2;
        font-weight: 700;
        padding-bottom: 5px;
        margin-bottom: 15px;
      }

      .footer-contact {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 40px;

        .footer-contact-item {
          font-size: $font-family-base;
          line-height: $line-height-base;
          margin-bottom: 8px;
          font-weight: 700;

          .footer-label {
            color: $color-accent;
            margin-right: 5px;
          }

          a {
            color: $color-secondary;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .footer-copyright {
      padding-top: 10px;
      text-align: center;
      color: $color-secondary;
      font-family: "Montserrat";
      font-size: 16px;
      font-weight: 700;

      p + p {
        margin-top: 20px; // dodatkowy odstęp między akapitami
      }

      a {
        color: $color-secondary;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          text-decoration: underline;
          color: $color-accent; // zmień kolor hover według potrzeb
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .footer-wrapper {
    .footer {
      padding: 0 20px;

      .footer-container {
        .footer-contact {
          flex-direction: column;

          .footer-contact-item {
            margin: 5px 0;
            font-size: $font-family-base;
            line-height: $line-height-base;
            font-weight: 700;
          }
        }

        .footer-title {
          font-family: $font-family-title;
          font-size: $font-size-h3;
          line-height: 32.2px;
          text-align: center;
        }
      }

      .footer-copyright {
        line-height: $line-height-base;
      }
    }
  }
}
