.map-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-secondary;
  max-width: 980px;
  margin: 0 auto;
  padding: 80px 20px;

  &__content {
    flex: 1 1 50%;
    padding-right: 40px;

    h2 {
      font-size: $font-size-h2;
      font-family: $font-family-title;
      margin-bottom: 20px;
      color: $color-secondary;
      font-weight: 700;
    }

    p,
    &__text {
      font-size: 16px;
      font-family: $font-family-base;
      line-height: 1.6;
      margin-bottom: 20px;
      color: $color-secondary;
    }
  }

  &__image {
    flex: 1 1 50%;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
      display: inline-block;
      border: none;
    }
  }

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    padding: 40px 20px;

    &__content {
      padding-right: 0;
      margin-bottom: 20px;

      h2 {
        text-align: center;
        line-height: 32.2px;
        font-size: 30px;
      }

      p {
        font-weight: 400;
        line-height: $line-height-base;
      }
    }

    &__image {
      margin: 0 auto;
    }
  }
}
