.text-list-block {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-secondary;
  padding: 70px 0;
  font-family: $font-family-base;
  &.background-grey {
    background-color: $color-primary;
  }

  &.background-blue {
    background-color: $color-dark-blue;

    .text-list-block__content {
      min-width: 700px;
    }
  }

  &.first-block {
    padding-top: 100px;
  }

  .text-list-block__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 42.2px;
  }

  .text-list-block__content {
    font-size: $font-size-base;
    font-family: $font-family-base;
    font-weight: 400;
    max-width: 700px;
    line-height: 19.5px !important;
    max-width: 700px;

    p {
      margin-bottom: 5px;
    }

    a {
      color: $color-accent;
      font-weight: 600;
    }

    ol {
      list-style: decimal;
      padding-left: 40px;
      margin: 0;

      li {
        padding-left: 6px;
        text-indent: 0;
        margin-left: -15px;
      }
    }

    ol.roman-list {
      list-style: upper-roman;
      padding-left: 40px;

      li {
        padding-left: 6px;
        text-indent: 0px;
        margin-left: -15px;
      }
    }

    &strong {
      font-weight: 700;
    }

    li {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .text-list-block {
    &.background-grey {
      padding-left: 20px;
      padding-right: 20px;
    }
    &.background-blue {
      padding-left: 20px;
      padding-right: 20px;
    }
    .text-list-block__title {
      font-family: $font-family-title;
      text-align: center;
      line-height: 32.2px;
      font-size: $font-size-h3;
    }
    .text-list-block__content {
      line-height: $line-height-base;
      min-width: auto !important;
    }
  }
}
