$placeholder-color: #888888;
$placeholder-focus-color: #ffffff;
$border-radius: 20px;
$input-height: 54px;
$textarea-min-height: 222px;
$blue: #4375b5;

.contact-form-section {
  width: 600px;
  margin: 0 auto;

  .wpcf7-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .wpcf7-form-control {
      width: 100%;
      height: $input-height;
      margin-bottom: 0;
      padding: 20px;
      border-radius: $border-radius;
      box-sizing: border-box;
      border: none;
      font-size: 18px;
      font-family: "Montserrat", sans-serif;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $placeholder-color;
        font-size: 20px;
        font-weight: 400;
      }

      &:focus::placeholder {
        color: $placeholder-focus-color;
      }
    }

    textarea.wpcf7-form-control {
      height: auto;
      min-height: $textarea-min-height;
      line-height: 1.5;
      resize: vertical;
    }

    p span.wpcf7-form-control-wrap[data-name="consent"] {
      display: flex;
      align-items: center;
      gap: 10px;

      input[type="checkbox"] {
        appearance: none;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: 3px solid #ccc;
        border-radius: 10px;
        position: relative;
        cursor: pointer;
        transition:
          background-color 0.3s,
          border-color 0.3s;

        &::before {
          content: "✔";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 20px;
          color: transparent;
          transition: color 0.3s;
        }

        &:checked {
          background-color: $blue;
          border-color: $blue;

          &::before {
            color: #fff;
          }
        }
      }

      .wpcf7-list-item-label {
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        line-height: 1.3;
      }
    }
    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .wpcf7-not-valid {
      border: 2px solid red;
    }
    .wpcf7-response-output {
      margin-top: 15px;
      padding: 10px;
      border-radius: $border-radius;
      font-size: 16px;
      color: white;
      background-color: #28a745;
    }
  }
}
