.contact-text {
  max-width: 480px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  h2 {
    font-size: $font-size-h2;
    font-weight: 700;
    font-family: $font-family-title;
  }
  .header-contact-item {
    text-transform: uppercase;
    list-style: none;
    li {
      font-weight: 700;
      color: $color-secondary;
      .header-contact-title {
        color: $color-accent;
        font-size: $font-size-base;
        line-height: $line-height-base;
      }
    }
  }
  p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .map-section-map {
    max-width: 480px;
    height: 196px;
  }
  .map-section-map iframe {
    border-radius: 20px;
  }
}

@media (max-width: $breakpoint-md) {
  .contact-text {
    padding: 5px 20px;
    h2 {
      font-size: $font-size-h3;
      line-height: $line-height-title;
      text-align: center;
    }
    p {
      font-weight: 400;
      line-height: $line-height-base;
    }
    .map-section-map {
      max-width: 480px;
    }
  }
}
