.questionnaire-section {
  padding: 50px 20px;
  color: #fff;
  font-family: $font-family-base;

  &.grey-background {
    background-color: $color-primary;
  }

  &.blue-background {
    background-color: $color-dark-blue;
  }

  .questionnaire-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .questionnaire-header {
      max-width: 700px;
      margin-bottom: 20px;
      .section-title {
        font-size: $font-size-h2;
        font-weight: 700;
        margin-bottom: 25px;
      }

      .section-description {
        font-size: 16px;
        margin-bottom: 40px;
        font-weight: 400;
      }
    }
    .file-list {
      display: flex;
      justify-content: center;
      gap: 20px;

      .file-item {
        text-align: center;
        width: 280px;

        .file-icon {
          width: 60px;
          height: 60px;
          margin-bottom: 10px;
        }

        .file-name {
          font-size: 16px;
          margin-bottom: 10px;
          padding: 0 40px;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .questionnaire-section {
    display: flex;
    flex-direction: column;

    .questionnaire-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .section-title {
      font-size: $font-size-h3;
      font-family: $font-family-title;
      line-height: 32.2px;
      text-align: center;
    }
    .section-description {
      font-size: $font-size-base;
      font-weight: 400;
      line-height: $line-height-base;
    }
    .file-list {
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .file-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .file-name {
        font-weight: 700;
        line-height: $line-height-base;
        text-align: center;
      }
    }
  }
}
