.content-area {
  padding-top: 220px;
  padding-bottom: 130px;
  background-color: $color-primary;
  color: $color-secondary;
  box-sizing: border-box;

  .contact-content {
    max-width: 780px;
    margin: 0 auto;
    padding: 60px;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      color: $color-secondary;
    }

    p {
      font-size: $font-size-base;
      margin-bottom: 20px;
      font-weight: 400;
    }

    .contact-info {
      list-style: none;
      padding: 0;
      margin: 0;

      .contact-info-item {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.5;

        .contact-label {
          font-weight: 700;
          text-transform: uppercase;
          color: $color-accent;
        }
        .contact-text {
          color: $color-secondary;
          font-size: 16px;
          font-weight: 700;
        }

        a {
          color: #bbb;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: $color-secondary;
          }
        }
      }
    }
  }

  .map-section-container {
    background-color: $color-dark-blue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .open-hours-container {
    padding: 130px 0;
    background-color: $color-primary;
  }
}
.contact-form-container {
  background-color: $color-dark-blue;
  color: $color-secondary;
  padding: 60px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    max-width: 1000px;
    width: 100%;
  }

  h2 {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: $font-size-h2;
  }
}

@media (max-width: $breakpoint-md) {
  .content-area {
    padding-bottom: 0px;

    .contact-content {
      padding: 20px;
      h1 {
        text-align: center;
        font-family: $font-family-title;
        font-size: 30px;
        font-weight: 700;
        line-height: $line-height-title;
      }

      p {
        font-weight: 400;
        font-family: $font-family-base;
        line-height: $line-height-base;
      }
      .contact-info {
        .contact-info-item {
          margin-bottom: 15px;
          line-height: $line-height-base;
          font-family: $font-family-base;
          .contact-label {
            margin-right: 0px;
          }
        }
      }
    }
    .open-hours-container {
      padding: 50px 0;
    }
  }
}
